<div id="body">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <ul class="list-group">
                    <li class="list-group-item"><a routerLink="line">Line Chart</a> </li>
                    <li class="list-group-item"><a routerLink="bar"> Bar Chart</a></li>
                    <li class="list-group-item"><a routerLink="doughnut">Doughnut Chart</a> </li>
                    <li class="list-group-item"><a routerLink="radar">Radar Chart</a> </li>
                  </ul>
            </div>
            <div class="col-sm-6">
                <ul class="list-group">
                    <li class="list-group-item"><a routerLink="pie">Pie Chart</a> </li>
                    <li class="list-group-item"><a routerLink="polararea">Polar Area Chart</a> </li>
                    <li class="list-group-item"><a routerLink="bubble">Bubble Chart</a></li>
                    <li class="list-group-item"><a routerLink="scatter">Scatter Chart</a> </li>
                  </ul>
            </div>
        </div>
    </div>
    
    <router-outlet></router-outlet>
</div>